<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <form action="greet" method="post">
        <input type="text" name="Name" value="" />
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>