<body>
    <form action="/add" method="post">
        <h1>Add new post</h1>
        <label for="Post"></label>
        <input type="text" name="Post" /><br>
        <button type="submit">Submit</button>
    </form>
</body>
