@model BankOfSimba.ViewModels.Home.HomeViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var account in Model.accounts)
        {
            <tr>
                <td>@account.Name</td>
                <td>@account.Balance</td>
                <td>@account.AnimalType</td>
            </tr>            
        }
    </table>
</body>
</html>