@model BankOfSimba.ViewModels.Home.HomeViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <p>@Model.BankAccount.Name</p>
        <p>@Model.BankAccount.Balance</p>
        <p>@Model.BankAccount.AnimalType</p>
    </div>

</body>
</html>