body {
  background-color: #DCD6CD;
  margin-top: 0;
}



.box > div {
  box-shadow: inset 0 0 0 12px #FF1200;
  background-color: #FFE42E;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto; 
}

.top-box {
  height: 40px;
  font-size: 40px;
  margin: 12px 0px 12px 0px;
  color: #6B657A;
  color: #6B657A;
}
.left-box {

}
.left-box, .right-box {
  height: 412px;
  width: 50%;
  float: left;
  margin: 20px 0 16px 0;
}

.right-box {
  right: 445px;
}

.bottom-box { 
  height: 160px;
}

.left-left, .left-right, .left-bottom {
  border: none;
  margin: 130px 0 16px 0;
  overflow: auto;
  box-sizing: border-box;
  padding: auto;
}
.block.second {
  float: right;  
}
.left-left, .left-right {
  height: 45px;
  width: 50%;
  float: left;
}
input[id="birthdate"] {
  display: block;
}

input[type="text"], 
input[type="email"] {
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-bottom {
  width: 290px;
  height: 150px;
  margin: 200px 0 25px 0;
}
.checkbox-grid li{
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 5px;
}

