<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/todo/add" method="post">
        <h1>Add new todo</h1>
        <label for="Title"></label>
        <input type="text" name="Title" />
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>