<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todos for today:</title>
</head>
<body>
    <p>Start the day</p>
    <p>Finish H2 workshop1</p>
    <p>Finish JPA workshop2</p>
    <p>Create a CRUD project</p>
 
</body>
</html>
